extends layout

block content
	h1= title
	p Welcome to #{title}
  
	#content
	table(border="1")
		for item in bookingsList
			tr
				td
					a(href='/bookings/' + item.id) #{item.name}
				
	a(href="/bookings/new") New Booking
					